<h1>Login</h1>
<% if(typeof mssg != 'undefined') {%>
   <%= mssg %>
<%  } %>
<form method="POST" action="/login">
    
    <div>
        <label for="username">Username</label>
        <input type="username" name="username" id="username" required>
        
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        
    </div>
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>